.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--light-color);
    opacity: 90%;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

.divContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--strong-color);
    color: var(--light-color);
    height: 100vh;
}

.divContainer2 {

}

.divImg {
    position: relative;
}

.divImg img {
    position:absolute;
    height: 45vh;
    width: 45vw;
    left:0;
    opacity: 1;

}

.divImgTop {
    z-index: 2;
    -webkit-animation: swap-image 8s infinite normal;
    animation: swap-image 8s cubic-bezier(.26,.5,.5,.73) infinite normal;
}

@keyframes swap-image {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.8;
    }
    20% {
        opacity: 0.6;
    }
    30% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.2;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.6;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.divContent{
    position: relative;
    left: 46vw;
    width: 53vw;
}

.properties{
    color: white;
}

.iconStar {
    color: gold;
}

.divDesc {
    position: relative;
    top: 26vh;
}