.divAbout {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divSpecs {
    height: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.divImg img {
    height: 40%;
    width: 40%;
}