.cardsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.divCards{
    display: flex;
    margin-top: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--light-color);
    opacity: 90%;
}

.pageNum {
    position: static;
    margin-bottom: 1vw;
    bottom: 0;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pageNumLi {
    color: var(--strong-color);
    text-decoration: none;
    list-style: none;
    font-size: 2vw;
    font-weight: 400;
    cursor: pointer;
}

.pageNumLi:hover {
    color: var(--hightlight-color);
}

.pageNumLiSelected {
    background: var(--strong-color);
    border-radius: 50%;
    color: var(--focus-color);
    margin-top: 1vw;
    padding: 0.8vw;

}


