.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-right: 16px;
    z-index: 100;
    background-color: var(--light-color);
    opacity: 90%;
}

.divAbout {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divTitle {
    height: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.divImg img {
    height: 65%;
    width: 65%;
}